<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%=data.title%>
    </title>
    <meta name="keywords" content="<%=data.keywords%>" />
    <meta name="description" content="<%=data.description%>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://www.siteluo7.com/images/favicon.ico" type="image/x-icon">

    <link href="/style/detail.css" rel="stylesheet">

</head>

<body>
    <!--top begin-->
    <article>
        <%include nav1.ejs%>
        <div class="box_l">
            <div class="weizhi">您现在的位置是：<a href="https://www.siteluo7.com/">首页</a>&nbsp;>&nbsp;
                <a href="https://www.siteluo7.com/list?column=<%=data.column%>">
                    <%=data.column%>
                </a>&nbsp;>&nbsp;
                <a href="https://www.siteluo7.com/A-<%=aid%>">
                    <%=data.title%>
                </a>
            </div>
            <div class="container">
                <h1>
                    <%=data.title%>
                </h1>
                <div class="info"><span>作者：
            <%=data.editor%>
          </span><span>日期：
            <%=data.ctime%>
          </span>
          <span>阅读：
            <%=data.rank%>
          </span>
                </div>
                <div class="content">
                    <%-data.content%>
                        <div class="pagelist"></div>
                </div>
               
            </div>
            <div class="info-pre-next">
                <p>
                    <a href="https://www.siteluo7.com">
                        返回首页
                    </a>
                </p>
            </div>

            <div class="otherlink">
                <h2 class="news_t">相关文章</h2>
                <ul>
                    <% olist.forEach(function(item){%>
                        <li>
                            <a href="https://www.siteluo7.com/A-<%=item.aid%>" title="<%=item.title %>">
                                <%=item.title %>
                            </a>
                        </li>
                        <% }) %>
                </ul>
            </div>
        </div>
        <%include aside.ejs%>

    </article>
    <%include footer.ejs%>

</body>

</html>