<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%=title%>
    </title>
    <meta name="keywords" content="<%=keywords%>" />
    <meta name="description" content="<%=description%>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="<%=domain%>/images/favicon.ico" type="image/x-icon">

    <link href="/style/detail.css" rel="stylesheet">

</head>

<body>
    <!--top begin-->
    <article>
        <nav>
            <div class="topnav">
                <a href="<%=domain%>/" class="logo">
                    <h1 style="height: 50px;line-height: 50px;font-size: 26px;">飞享喜悦</h1>
                </a>
                <ul id="starlist">
                    <li><a class="<%-column=='抖音'?'selected':0%>" href="<%=domain%>/list?column=抖音">抖音</a></li>
                    <!-- <li><a class="<%-column=='小程序'?'selected':0%>" href="<%=domain%>/list?column=小程序">小程序</a></li> -->
                    <li><a class="<%-column=='赚钱'?'selected':0%>" href="<%=domain%>/list?column=赚钱">赚钱</a></li>
                </ul>
            </div>
            <span></span>
        </nav>
        <div class="box_l">
            <div class="weizhi">您现在的位置是：<a href="<%=domain%>/">首页</a>&nbsp;>&nbsp;
                <a href="<%=domain%>/news/">
                    <%=column%>
                </a>&nbsp;>&nbsp;
                <a href="<%=domain%>/A-<%=_id%>">
                    <%=title%>
                </a>
            </div>
            <div class="container">
                <h1>
                    <%=title%>
                </h1>
                <div class="info"><span>作者：
            <%=editor%>
          </span><span>日期：
            <%=ctime%>
          </span>
                </div>
                <div class="content">
                    <%-content%>
                        <div class="pagelist"></div>
                </div>
               
            </div>
            <div class="info-pre-next">
                <p>上一篇:
                    <a href="<%=pre?domain+'/A-'+pre._id:'/' %>">
                        <%=pre?pre.title:'返回首页' %>
                    </a>
                </p>
                <p>下一篇:
                    <a href="<%=nex?domain+'/A-'+nex._id:'/' %>">
                        <%=nex?nex.title:'返回首页' %>
                    </a>
                </p>
            </div>

            <div class="otherlink">
                <h2 class="news_t">相关文章</h2>
                <ul>
                    <% olist.forEach(function(item){%>
                        <li>
                            <a href="<%=domain%>/A-<%=item._id%>" title="<%=item.title %>">
                                <%=item.title %>
                            </a>
                        </li>
                        <% }) %>
                </ul>
            </div>
        </div>
        <aside class="box_r">

            <section>
                <h2>站长推荐</h2>
                <ul class="news_part03">
                    <% hlist.forEach(function(item){%>
                        <li>
                            <a href="<%=domain%>/A-<%=item._id%>" title="<%=item._id%>" target="_blank">
                                <p>
                                    <%=item.title%>
                                </p>
                            </a>
                        </li>
                        <% }) %>

                </ul>
            </section>
        </aside>
    </article>
    <%include footer.ejs%>

</body>

</html>