<nav>
    <div class="topnav">
        <a href="<%=domain%>/" class="logo">
            <h1 style="height: 50px;line-height: 50px;font-size: 26px;">飞享喜悦</h1>
        </a>
        <ul id="starlist">
            <li><a class="<%-column=='推广'?'selected':0%>" href="<%=domain%>/list?column=推广">推广</a></li>
            <li><a class="<%-column=='运营'?'selected':0%>" href="<%=domain%>/list?column=运营">运营</a></li>
            <li><a class="<%-column=='营销'?'selected':0%>" href="<%=domain%>/list?column=营销">营销</a></li>
            <li><a class="<%-column=='热门新闻'?'selected':0%>" href="<%=domain%>/list?column=热门新闻">热门新闻</a></li>

        </ul>
    </div>
    <span></span>
</nav>